body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #defdec;
}

.cadastro-container {
  position: absolute;
  top: 18%;
  margin-left: 30%;
  width: 40%;
  padding: 2%;
  background-color: #defdec;
  background: rgba(160, 161, 161, 0.123);
  border-radius: 8px;
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 0px 0px 3px #9D0000   , inset 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.cadastro-container >p {
  font-family: 'Open Sans', coursive;
  text-align: center;
  font-weight: bold;
}


  .cadastro-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 300%;

  }
  .titulo{
    color: black;
    font-family:'Open Sans', coursive;
  }
 
  .cadastro-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .cadastro-button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #20643f;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
   }
  
  .cadastro-button:hover {
    background: #32945e;
  }