body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #defdec;
    /* align-items: center; */
}

.imagem{
    align-items: center;
}

/* fundo */
.fundo {
    padding: 5px 35px;
    background: #defdec;
    line-height: 30px;
}

.logo {
    block-size: 100px;
    margin-top: 15px;
    height: 140px;
}

.divmenu {
    position: absolute;
    top: 25px;
    left: -20px;
    padding: 5px 5px;
    background: #E4F1FF;
    position: fixed;
    margin-top: -20px;
    margin-left: 12px;
}

/* Tamanho da div onde ta o formuário */
.formulario {
    max-width: 800px;
    max-height: 90%;
    background: rgba(160, 161, 161, 0.055);
    margin: 0px auto 40px auto;
    border-radius: 5px;
}

/* Formulário completo */
.form {
    padding: 30px;
}

/*Cor destaque do formulario*/
.destaqueclaro {
    background-color: #b4f5d1;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 4px;
}

/* Tamanho caixas de textos */
.tam90 {
    width: 90%;
}

/* Colunas com sim e não */
.simnao {
    column-gap: 40px;
    column-count: 2;
}

/* Tamanho caixas de textos */
.tam75 {
    width: 75%;
    align-items: center;
}

/* Tipo de ocorrência */
.tipoocor {
    font-weight: 400;
    line-height: 25px;
    column-count: 3;
}

/*Cor de fundo formulário*/
.destaque {
    background-color: #8de2b3;
}

/* tamanho caixa de texto */
.tam18 {
    width: 18%;
}

/* Colunas de 3 espaços */
.coluna3 {
    column-gap: 20px;
    column-count: 3;
}

/* Seleção de problemas encontrados */
.problema {
    margin-left: 100px;
    border-radius: 5px;
    padding: 2px;
    border-color: rgba(218, 75, 44, 1);
    border: 1px solid #ced4da;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 230px;
}

/* Tabela */
.table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    text-align: center;
}

/* Tabelas */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}

/* Configurações do form*/
.form label,
.form p {
    line-height: 2rem;
}

.form input,
.form select {
    border-radius: 5px;
    padding: 8px;
    border: 1.5px solid #20643f;
    background-color: #defdec;
    margin-top: 13px;
    margin-bottom: 13px;
}

.form select {
    cursor: pointer;
}

/* Checkbox */
.form-radio-checkbox {
    margin-bottom: 15px;
}

form .form-radio-checkbox {
    display: grid;
}

.form-radio-checkbox input {
    margin-right: 10px;
}

.form-radio-checkbox label {
    line-height: 2rem;
    display: flex;
    align-items: center;
}

.form-radio-checkbox label:first-child {
    margin-bottom: 10px;
}


.input-radio {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    cursor: pointer;
}

.input:checked {
    background-color: #8de2b3;
}

.input-checkbox {
    display: inline-block;
    min-width: 1.25rem;
    min-height: 1.25rem;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.form-textarea {
    display: grid;
}

.form-textarea textarea {
    padding: 10px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

/* Seleção de 1 opção */
.radio {
    column-gap: 20px;
    column-count: 2;
    justify-content: center;
}

/* Tamanho caixas de textos */
.objetos {
    width: 97%;
    height: 100px;
    background-color: #ced4da86;
}


/* Horários */
.insere {
    width: 37px;
    margin-left: 2px;
}


/* Borda */
banner {
    display: block;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #20643f;
    border-image: initial;
}

/* titulo dos campos */
titulos {
    font-size: 18px;
}

/* Espaço para escrever observações */
.escrever {
    margin-left: 15px;
    margin-right: 15px;
}

/* Colunas sinais e sintomas */
.sinals {
    font-weight: 400;
    line-height: 25px;
    column-count: 2;
}

/* Colunas decisão de transporte */
.coluna4 {
    column-count: 4;
}

/* Complemento de seleção auxiliar(aparece do lado ou abaixo) */
.auxiliar {
    column-count: 2;
    column-gap: 60px;
    margin-left: 15px;
    font-size: 15px;
}


/* Botões do menu suspenso e de enviar */
.button-group {
    display: flex;
    gap: 20px;
}

.botao {
    background-color: #20643f;
    margin-top: 30px;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Fonte botão */
a {
    color: white;
    text-decoration: none;
}

/* tamanho */
input.form-control {
    width: 90%;
}

/* Tamanho coluna materiais */
.material {
    width: 15px;
    height: 10px;
}

/* Colunas dados ambulância */
.coluna2 {
    column-count: 2;
}

#menu-container {
    position: fixed;
    top: 0;
    left: -300px;
    /* Inicialmente escondido à esquerda */
    width: 300px;
    height: 100%;
    background-color: #b4f5d1;
    transition: left 0.3s ease;
    /* Efeito de deslizamento suave */
    z-index: 1;
}

/*Botão Menu Suspenso*/
#menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #000000;
}

#menu li:hover {
    background-color: #84c9a3;
    transform: scale(1);
    font-family: 'Calibri';
}

#menu {
    list-style: none;
    padding: 0;
    margin: 9px 0 0 0;
}

/*Lista do Menu Suspenso*/
#menu li {
    padding: 6px;
    text-align: left;
    /* Alinha o texto à esquerda */
    font-family: 'Calibri';
}

/*Botões do Menu Suspenso*/
#menu li a {
    color: black;
    text-decoration: none;
}

@import url(tiny.css) (min-width:300px);
@import url(small.css) (min-width:600px);
@import url(big.css) (min-width:700px);