body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #defdec;
}

.logo{
    block-size: 100px;
    margin-top: 60px;
    height: 100%;
    margin-left: 38%;
  }

  
.iniciar{
background:  #20643f;
border: 0;
color: #fff;
cursor: pointer;
padding: 13px 18px;
text-decoration: none;
transition: 0.2s;
border-radius: 8px;
margin-top: 55px;
display: block;
width: 30%;
height: 3%;
text-align: center;
margin-left: 33%;
font-size:  130%;
font-family: 'Roboto Condensed';
}

a{
    color: #fff;
}