body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fdfafa;
}

.login-container {
  position: absolute;
  top: 18%;
  margin-left: 30%;
  width: 40%;
  padding: 2%;
  background-color: #e2d1d1d7;
  background: #e2d1d1d7;
  border-radius: 8px;
}

.login-container>p {
  font-family: 'Open Sans', coursive;
  text-align: center;
  font-weight: bold;
  background-color: #e2d1d1d7;
}


.login-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 300%;
}

.titulo {
  color: black;
  font-family: 'Open Sans', coursive;
}

.login-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  background: #f7f2f2;
  border-radius: 4px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #660303;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
}

.login-button:hover {
  background: #ca6d6d;
}

.h3 {
  color: black;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: 'Open Sans', coursive;
  text-align: center;
}

.logo {
  block-size: 100px;
  margin-top: 15px;
  height: 140px;
}