body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e4fffd;
}

.titulo{
    font-size: 150%;
    font-family: 'Roboto Condensed';
    color: black;
    text-align: center;
    margin-top: 2%;
}

.texto{
    font-size: 80%;
    font-family: 'Roboto Condensed';
    color: black;
    text-align: center;
    margin-top: 2%; 
    width: 60%;
}

.form {
    width-of-input: 200px;
    border-height: 1px;
    border-before-color: rgba(221, 221, 221, 0.39);
    position: relative;
    width: var(--width-of-input);
   }

   .input {
    color: #000000;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }

   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }

   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }

   input:focus ~ .input-border {
    width: 100%;
   }

  