body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fdfafa;
  /* align-items: center; */
}

.fundo2 {
  font-family: Calibri;
  font-size: 18px;
  padding: 5px 50px;
  background: #fdfafa;
}

.logo {
  block-size: 100px;
  margin-top: 15px;
  height: 140px;
}

.relatorio {
  position: absolute;
  top: 33%;
  margin-left: 35%;
  width: 20%;
  padding: 2%;
  background-color: #e2d1d1d7;
  background: e2d1d1d7;
  border-radius: 8px;
  text-align: center;
}

.relatorio-input {
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.relatorio-button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #660303;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
}

.relatorio-button:hover {
  background: #ca6d6d;
}

.text {
  font-size: 18px;
  font-family: 'Calibri';
  color: black;
}

.form input,
.form select {
  border-radius: 5px;
  padding: 8px;
  border: 1.5px solid #660303;
  margin-top: 13px;
  margin-bottom: 13px;
  width: 60%
}

/* Tabela */
.table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  text-align: center;
  margin-top: 19%;
  margin-left: 31%; 
  width: 40%;
}

/* Tabelas */
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 30vw;
}

.button {
  background: #660303;
  color: #660303;
  margin-top: 30px;
  color: #fff;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  /* margin-left: 6px; */
}