body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #defdec;
    /* align-items: center; */
}

.fundo2{
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px 50px;
    background: #defdec;
}

.logo{
    block-size: 100px;
    margin-top: 15px;
    height: 140px;
}


.input__container--variant {
    background: linear-gradient(to bottom, #F3FFF9, #F3FFF9);
    border-radius: 30px;
    max-width: 18em;
    padding: 1em 1em;
    position: absolute;
    top: 40%;
    margin-left: 35%;
  }
  
  .shadow__input--variant {
    filter: blur(25px);
    border-radius: 30px;
    background-color: #F3FFF9;
    opacity: 0.5;
  }
  
  .input__button__shadow--variant {
    border-radius: 15px;
    background-color: #07372C;
    padding: 10px;
    border: none;
    margin-left: 13%;
  }
  
  .input__button__shadow--variant:hover {
    background-color: #3C6659;
  }
  
  .input__search--variant {
    width: 13em;
    align-items: center;
    border-radius: 13em;
    outline: none;
    border: none;
    padding: 0.8em;
    font-size: 1.2em;
    color: #002019;
    background-color: transparent;
  }
  
  .input__search--variant::placeholder {
    color: #002019;
    opacity: 0.7;
  }
  
  .input__container--variant {
    background: linear-gradient(to bottom, #F3FFF9, #F3FFF9);
    border-radius: 1.5em;
    max-width: 18em;
    padding: 1em;
    box-shadow: 0em 1em 3em #beecdc64;
  }
  