body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #e4fffd;
}

.titulo{
    font-size: 145%;
    font-family: 'Roboto Condensed';
    color: black;
    text-align: center;
    margin-top: 2vh; 
}

.subtitulo{
    font-size: 130%;
    font-family: 'Roboto Condensed';
    color: black;
    text-align: center;
}

  .menu{
    width: 0px;
    text-align: right;
  }

  .mainmenubtn {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 190%;
    cursor: pointer;
    margin-right: 65%;
    overflow: hidden; 
    position: absolute;
  }
  
  .mainmenubtn:hover {
    background-color: transparent;
    left: 100%;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    /* width: 5%; */
    align-items: right;
    font-size: 90%;

  }
  
  .dropdown-child {
    display: none;
    background-color: #9D0000;
    min-width: 20%;
    position: relative;
    height: 100%;
    /* width: 20%; */
  }
  
  .dropdown-child a {
    color:white;
    padding: 15%;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-child {
    display: block;
  }
  
  .menu2{
    width: 0px;
    text-align: right;
  }

.material-checkbox {
    display: flex;
    align-items: center;
    font-size: 120%;
    color: black;
    cursor: pointer;
    margin-left: 40%;
   text-align: center;
  }
  
  .material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all 0.3s;
  }
  
  .material-checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: black;
    border-color: black;
  }
  
  .material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .material-checkbox input[type="checkbox"]:focus ~ .checkmark {
    box-shadow: 0 0 0 2px #00000065;
  }
  
  .material-checkbox:hover input[type="checkbox"] ~ .checkmark {
    border-color: #ff0000;
  }
  
  .material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
    border-color: black;
  }
  